body {background-color: rgb(45, 138, 76);}
p {
    color: rgb(0, 4, 224);
    font-size: 18px;
}
h1 {color: rgba(255, 0, 0, 0.7);}
td {
    border:3px solid orange; 
    padding: 5px;
}
.menu_box{
    position:relative;
    top:0px;
    left:0px;
    border:4px dashed;
    background-color:#00aa00;
    margin:0px;
    padding:6px;
    align:center;
    height:33px;
    width:99%;
}
.social {
    border:3px solid orange; 
    padding: 8px;
    width: 15%;
}
#discord {
    border:3px solid orange;
    width: 76px;
    height:76px;
    line-height:70px;
}
a {
    color: rgb(255, 251, 0);

}